.text-cancel{
    color: #FF6600;

}
.text-cancel:hover{
    color: white;

}
.bg-cancel{
    background-color: white;
    border: 1px solid #FF6600;
}
.bg-cancel:hover{
    background-color:#FF6600;

}