.background{
    background-image: url('../../public/backgound_Login_signup.png') ;
    background-size: cover; /* Đảm bảo ảnh sẽ bao phủ hoàn toàn kích thước của phần tử */
    background-position: center;
}
