
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transitions{
  @apply transition duration-300 ease-in
}
input:focus,select:focus,textarea:focus {
    outline:0 !important;
    box-shadow: none !important;
}
.linear-bg{
    background: linear-gradient(269.82deg,#07092C00 0.17%,#080a1ad6 99%);
}
.flex-colo{
    @apply flex flex-col justify-center items-center
}
.hoveres{
    @apply hidden
}
.hovered:hover .hoveres{
   @apply flex-colo
}
.flex-rows{
    @apply flex flex-row justify-center items-center
}
.flex-btn{
    @apply flex justify-between items-center
}
.transitions{
    @apply transition duration-300 ease-in
}
.zIndex{
    z-index: 1000;
}